.login{
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background:url("background.jpg");
    background-size: cover;
    font-family: 'josefin sans',sans-serif;

}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm>Label{
    margin: 10px o;
}
.loginInput{
    padding: 10px;
    background-color: #fff;
    border: none;
    font-family: 'josefin sans',sans-serif;

}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color:coral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
