*{
    margin: 0;
    padding: 0;
  }
  
  .wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper .form{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .wrapper .youtubeBox{
    margin-top: 20px;
    width: 50%;
    height: 350px;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .wrapper .youtubeBox .player{
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  
  .error-msg{
    width: 50%;
    font-size: 14px;
    font-weight: 600;
    color: red;
  }
  @media(max-width: 768px){
    .wrapper .form, .wrapper .youtubeBox{
      width: 80%;
    }
    .error-msg{
      width: 100%;
      margin-left: 80px;
      margin-top: 10px;
    }
    .wrapper .youtubeBox .player{
      width: 100%;
      height: 100%;
      min-height: 60%;
      max-height: 60%;
      max-width: 100%;
      min-width: 100%;
    }
  }